// Base font size
$base-font-size: 16px;

// Responsive
$small: 576px!default;
$medium: 768px!default;
$large: 960px!default;
$xlarge: 1200px!default;

// Couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;