.btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    color: $white;
    position: relative;
    z-index: 1;
    @include linear-gradient(180deg, $color-secondary, $color-primary);
    @include button-shadow;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 2rem;
        @include linear-gradient(180deg, lighten($color-secondary, 3), lighten($color-primary, 5));
        opacity: 0;
        z-index: -1;
        transition: opacity .3s ease;
    }

    &:hover {
        @include hover-shadow;

        &:after {
            opacity: 1;
        }
    }

    &--py {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

    &--mr {
        margin-right: rem(20);
    }
}

.btn-like {
    position: relative;
    font-size: rem(30);

    .far {
        opacity: 1;
        position: relative;
        z-index: 1;
        transition: all .5s ease-in;
    }

    .fas {
        opacity: 0;
        position: absolute;
        z-index: 0;
        top: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: $linear-gradient;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        transition-delay: .5s;
        transition: opacity .5s ease-out;
    }

    &:hover {
        & .far {
            opacity: 0;
            z-index: 0;
        }

        & .fas {
            opacity: 1;
            z-index: 1;
        }
    }
}