.footer {
    background: $black;
    color: $white;
    @extend %container-sm;

    &__title {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        font-size: rem(18);
    }

    li {
        margin-bottom: rem(10);
    }

    li a {
        &:hover {
            color: darken($white, 20%);
        }
    }

    li i {
        margin-right: rem(5);
        font-size: rem(14);
    }
}