.header {
    position: relative;
    z-index: 1;
    @extend %container-sm;
    @include header-shadow;
    @include flex(row, center, center, nowrap);

    &__logo {
        margin: 0 auto;
        line-height: 0;

        a {
            display: inline-block;
        }
    }

    &__navbar a {
        display: inline-block;
        font-size: rem(18);
        transform: scale(1);

        &:hover {
            transform: scale(1.2);
        }

    }

}